
  
  .tasks {
    margin-left: 50px;
  }
  
  .comp1, .comp2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .box {
    text-decoration: none;
    width: 220px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f0f0f0;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .box-function {
    font-size: 18px; 
    color: #555;
    margin-top: 10px;
  }
  
  .main-box {
    display: flex;
    justify-content: center;
  }
  
  @media screen and (max-width: 768px) {
    .tasks {
      margin-left: 0;
    }
  
    .comp1,
    .comp2 {
      flex-direction: column;
      align-items: center;
    }
  
    .main-box {
      flex-direction: column;
    }
  
    .box {
      width: 100%;
      margin: 10px 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .box {
      width: calc(100% - 40px);
      margin: 10px;
    }
  }
  